.container {
  padding: 48px;
  min-height: 100vh;
}

.snippet {
  white-space: pre-wrap;
  position: absolute;
  width: 100%;
  color: black;
  font-size: 12px;
  overflow: hidden;
}

.snippetContainer {
  /* padding: 10px; */
  height: 250px;
  overflow: hidden;
  position: relative;
}

.languagesCount {
  display: flex;
  margin-bottom: 15px;
}

.languagesCount:hover {
  cursor: pointer;
}

.badge {
  transition: all 0.15s ease-in-out;
  margin: 0 3px;
}
.badge:hover {
  transform: scale(1.1);
}

.active {
  background-color: #52c41a;
}
.inactive {
  background-color: #ff4d4f;
}
.paginationButtons {
  width: 100%;
  height: 40px;
  padding-left: -40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.paginationActive {
  color: white !important;
  background-color: black;
}

.paginationButtons a:hover {
  color: white;
  background-color: black;
}
.previousButton {
}
.nextButton {
}
.paginationDisabled {
}
